html {
  -webkit-font-smoothing: antialiased;
}

*,
:after,
:before,
html {
  box-sizing: border-box;
}

body,
button,
input,
select,
td,
textarea,
th {
  font-family: var(--sans-serif);
}

a {
  color: #5596ff;
  text-decoration: none;

  &:visited {
    color: #bb6dff;
  }

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 700;
}

h1 {
  font-size: 2rem;
  line-height: 1.2em;
}

h2 {
  font-size: 1.8rem;
  line-height: 1.2em;
}

h3 {
  font-size: 1.6rem;
  line-height: 1.1em;
}

h4 {
  font-size: 1.4rem;
  line-height: 1.1em;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

:root {
  --sans-serif: HelveticaNeue, AppleSDGothicNeo-Regular, tahoma, Malgun Gothic,
    '맑은 고딕', dotum, 돋움, sans-serif;
  --monospace: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}
