@use './variables' as *;
@use './mixins' as *;

.markdown-content {
  line-height: 1.8rem;
  word-break: break-word;

  li p {
    margin: 0;
  }

  p {
    margin: 0 0 2rem;
  }

  p code {
    font-family: $monospace;
    font-size: 0.9rem;
    padding: 0.1rem 0.2rem;
    background-color: $theme-light-text-bg;
    border-radius: 3px;

    @include dark {
      background-color: $theme-dark-text-bg;
    }
  }

  blockquote {
    padding: 0 1em;
    color: $theme-light-text-secondary;
    border-left: 0.25em solid #dfe2e5;

    @include dark {
      color: $theme-dark-text-secondary;
    }
  }

  figcaption {
    font-size: 0.8rem;
    color: $theme-light-text-secondary;

    @include dark {
      color: $theme-dark-text-secondary;
    }
  }

  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  strong {
    font-weight: bold;
  }

  ol {
    list-style: decimal;
    margin: 0 0 2rem;
    padding-left: 2rem;
  }

  ul {
    list-style-type: disc;
    margin: 0 0 2rem;
    padding-left: 2rem;
  }

  sup {
    font-size: 0.8rem;
    vertical-align: super;
  }

  hr {
    border-top: 1px solid $theme-light-border;
    border-right: none;
    border-bottom: none;
    border-left: none;
    width: 50%;
    margin: 3rem auto;

    @include dark {
      border-top-color: $theme-dark-border;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
