@use './variables' as *;

pre.astro-code {
  margin-bottom: 2rem;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  padding: 20px 0;
  background: transparent;
  overflow-x: auto;

  code {
    font-family: $monospace;
    display: block;
    padding: 0 24px;
    width: fit-content;
    min-width: 100%;
    transition: color .5s;

    .highlighted {
      background-color: rgba(101, 117, 133, .16);
      transition: background-color .5s;
      margin: 0 -24px;
      padding: 0 24px;
      width: calc(100% + 48px);
      display: inline-block;
    }

    .highlighted-word {
      background-color: #202127;
      border: 1px solid #3c3f44;
      padding: 1px 3px;
      margin: -1px -3px;
      border-radius: 4px;
    }
  }
}

