@use './variables' as *;

@mixin mobile {
  @media (max-width: 414px) {
    @content;
  }
}

@mixin dark {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

@mixin link {
  text-decoration: none;
  color: $theme-light-text;

  svg {
    fill: $theme-light-text;

    &:hover {
      fill: #000;
    }
  }

  &:visited {
    color: $theme-light-text;
  }

  &:hover {
    text-decoration: none;
    color: #000;
  }

  @include dark {
    color: $theme-dark-text;

    svg {
      fill: $theme-dark-text;

      &:hover {
        fill: #fff;
      }
    }

    &:visited {
      color: $theme-dark-text;
    }

    &:hover {
      color: #fff;
    }
  }
}

@mixin link-secondary {
  text-decoration: none;
  color: $theme-light-text-secondary;

  svg {
    fill: $theme-light-text-secondary;

    &:hover {
      fill: #000;
    }
  }

  &:visited {
    color: $theme-light-text-secondary;
  }

  &:hover {
    text-decoration: none;
    color: #000;
  }

  @include dark {
    color: $theme-dark-text-secondary;

    svg {
      fill: $theme-dark-text-secondary;

      &:hover {
        fill: #fff;
      }
    }

    &:visited {
      color: $theme-dark-text-secondary;
    }

    &:hover {
      color: #fff;
    }
  }
}
