@import './_mixin';

html {
  -webkit-font-smoothing: antialiased;
}

*,
:after,
:before,
html {
  box-sizing: border-box;
}

html,
body {
  color: #333;
}

body,
button,
input,
select,
td,
textarea,
th {
  font-family: $sans-serif;
  line-height: 1.1rem;
}

a {
  color: #5596ff;
  text-decoration: none;

  &:visited {
    color: #ac4dff;
  }

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
}

main {
  padding: 13rem 2rem 4rem 2rem;
  max-width: 800px;
  margin: 0 auto;
  min-height: calc(100vh - 23rem);
}

@include mobile {
  main {
    margin: 4rem auto 0 auto;
    padding: 2rem 0.5rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 700;
}

h1 {
  font-size: 2rem;
  line-height: 1.2em;
}

h2 {
  font-size: 1.8rem;
  line-height: 1.2em;
}

h3 {
  font-size: 1.6rem;
  line-height: 1.1em;
}

h4 {
  font-size: 1.4rem;
  line-height: 1.1em;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

@include mobile {
  h1 {
    font-size: 1.5rem;
    line-height: 1.2em;
  }

  h2 {
    font-size: 1.3rem;
    line-height: 1.2em;
  }

  h3 {
    font-size: 1rem;
    line-height: 1em;
  }

  h4 {
    font-size: 1rem;
    line-height: 1em;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 1rem;
  }
}
