---
import SVG from '@jasikpark/astro-svg-loader'
---

<header>
  <div class="container">
    <div class="brand">
      <a href="/" aria-label="Go to Home">
        <SVG src={import('../images/johnnydev.svg?raw')} width={230} />
      </a>
    </div>
    <div class="links">
      <a href="/about">About</a>
      <a href="/archives">Archives</a>
      <a id="search-btn" href="#search" aria-label="Search blogs">
        <SVG src={import('../images/search.svg?raw')} width={15} height={13} />
      </a>
    </div>
  </div>
</header>

<style lang="scss">
  @use '../styles/variables' as *;
  @use '../styles/mixins' as *;

  header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    background-color: $theme-light-bg;

    &.scroll {
      box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.1);

      .container {
        height: 80px;
      }
    }

    @include dark {
      background-color: $theme-dark-bg;
    }
  }

  .brand {
    a {
      display: block;
      padding: 0.5rem 1rem;
      transition: background-color 0.2s ease-in-out;

      svg {
        fill: $theme-light-text;
        transition: fill 0.2s ease-in-out;

        @include dark {
          fill: $theme-dark-text;
        }
      }

      &:hover {
        background-color: $theme-light-text;

        svg {
          fill: $theme-light-bg;
        }

        @include dark {
          background-color: theme-dark-text;

          svg {
            fill: $theme-dark-bg;
          }
        }
      }
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
    transition: height 80ms ease-out;

    max-width: 800px;
    padding: 0 2rem;
    margin: 0 auto;
  }

  .links {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;

    a {
      display: flex;
      align-items: center;
      padding: 0.75rem;
      margin: 0 0.25rem;
      line-height: 1.2rem;
      text-align: center;

      @include link;
    }
  }

  @include mobile {
    header {
      &.scroll {
        height: 3rem;

        .container {
          height: 3rem;
        }
      }
    }

    .container {
      padding: 0;
      height: 4rem;

      .brand {
        svg {
          width: 140px;
        }
      }

      .links {
        justify-content: end;
      }
    }
  }
</style>

<script>
  import { appAtom } from '#/stores/app'

  const header = document.querySelector('header')
  let lastValue = ''

  function onScroll() {
    window.requestAnimationFrame(() => {
      if (window.scrollY > 0) {
        if (lastValue !== 'scroll') {
          lastValue = 'scroll'
          header?.classList.add('scroll')
        }
        return
      }

      if (lastValue !== '') {
        lastValue = ''
        header?.classList.remove('scroll')
      }
    })
  }

  window.addEventListener('scroll', onScroll)

  const searchBtn = document.querySelector('#search-btn')

  function onSearchClick(e: MouseEvent) {
    e.preventDefault()

    appAtom.set({ showSearch: !appAtom.get().showSearch })
  }

  searchBtn?.addEventListener('click', onSearchClick)
</script>
