---
import type { ComponentProps } from 'astro/types'

import { Image } from 'astro:assets'

import AnimatedGlow from './AnimatedGlow.astro'

type ImageProps = Parameters<typeof Image>[0]

interface Props {
  class?: string
  glowProps?: ComponentProps<typeof AnimatedGlow>
  imageProps: ImageProps
}

const { class: className, glowProps, imageProps } = Astro.props
---

<div
  class="relative mb-2 aspect-4/3 w-full drop-shadow-md transition-all after:pointer-events-none after:absolute after:inset-0 after:rounded-lg after:border after:border-white/10 dark:drop-shadow-none"
  class:list={[className]}
>
  {glowProps ? <AnimatedGlow {...glowProps} /> : null}
  <div class="relative h-full w-full overflow-hidden rounded-lg">
    <Image
      class="h-full w-full rounded-lg transition-all duration-500 ease-out group-hover:scale-105 group-hover:brightness-110"
      {...imageProps}
    />
  </div>
</div>
