---
import SVG from '@jasikpark/astro-svg-loader'
---

<footer>
  <div>
    <a
      aria-label="RSS"
      href="/rss.xml"
      rel="noopener noreferrer"
      target="_blank">RSS</a
    >
  </div>
  <div>
    <a
      aria-label="Go to github profile page"
      href="https://github.com/johnny-mh"
      rel="noopener noreferrer"
      target="_blank"
    >
      <SVG height={24} src={import('../images/github.svg?raw')} width={24} />
    </a>
    <a aria-label="Send mail to Johnny" href="mailto://romz1212@gmail.com">
      <SVG height={20} src={import('../images/mail.svg?raw')} width={20} />
    </a>
  </div>
</footer>

<style lang="scss">
  @use '../styles/variables' as *;
  @use '../styles/mixins' as *;

  footer {
    margin: 4rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 6rem;

    max-width: 800px;
    padding: 0 2rem;

    > div {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      a {
        @include link;
      }
    }
  }
</style>
