---
import ThemeSwitcher from '#/components/ThemeSwitcher.astro'
const logo = await import('#/icons/logo.svg?raw')

const innerHTML = logo.default.replace(/^<svg/, '<svg width="135" height="38"')

const current = (() => {
  const {
    url: { pathname },
  } = Astro

  if (/^\/blog/.test(pathname)) {
    return 'blog'
  }

  return 'about'
})()
---

<header
  data-header
  class="fixed left-0 right-0 top-0 z-30 h-20 px-3 transition-all ease-out [&.scroll]:h-12 [&.scroll]:backdrop-blur-xl"
>
  <div class="container flex h-full place-content-between place-items-center">
    <a aria-label="Go to Home" class="logo" href="/blog">
      <Fragment set:html={innerHTML} />
    </a>
    <nav class="flex h-8 items-stretch font-sg text-sm text-th-text">
      <a
        class="relative flex items-center px-4 data-[active]:font-semibold"
        data-active={current === 'blog'}
        href="/blog">Blog</a
      >
      <a
        class="relative flex items-center px-4 data-[active]:font-semibold"
        data-active={current === 'about'}
        href="/about">About</a
      >
      <ThemeSwitcher />
    </nav>
  </div>
</header>

<script>
  function bindScrollEvent() {
    const el = document.querySelector('header[data-header]')

    if (!el) {
      return
    }

    let lastValue = ''

    window.addEventListener(
      'scroll',
      () => {
        if (window.scrollY > 0) {
          if (lastValue !== 'scroll') {
            lastValue = 'scroll'
            el?.classList.add('scroll')
          }
          return
        }

        if (lastValue !== '') {
          lastValue = ''
          el?.classList.remove('scroll')
        }
      },
      { passive: true }
    )
  }

  bindScrollEvent()
  document.addEventListener('astro:after-swap', bindScrollEvent)
</script>

<style>
  .logo {
    :global(svg) {
      overflow: visible;
    }

    :global(rect, path:nth-of-type(2)) {
      transition-property: fill, transform;
      transition-duration: 0.4s;
      transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
    }

    :global(rect) {
      transform-origin: center;
      transform-box: fill-box;
    }
  }

  :global(html.dark) .logo {
    :global(path) {
      fill: #fff;
    }

    :global(path:nth-of-type(2)) {
      fill: #000;
    }
  }
</style>
