---
import SVG from '@jasikpark/astro-svg-loader'
---

<h2>오픈소스 프로젝트</h2>
<ul class="opensources">
  <li>
    <div class="icon">
      <SVG src={import('../images/rxjs.svg?raw')} width={56} height={56} />
    </div>
    <div class="desc">
      <h4>
        <a
          href="https://github.com/johnny-mh/rxjs-shell"
          target="_blank"
          rel="noopener noreferrer"
        >
          rxjs-shell
        </a>
        <span class="badges">
          <img
            src="https://github.com/johnny-mh/rxjs-shell/actions/workflows/pull_request.yml/badge.svg"
            alt="CI"
            width={121}
            height={18}
            draggable={false}
          />
          <img
            src="https://img.shields.io/npm/dw/rxjs-shell"
            alt=""
            width={121}
            height={18}
            draggable={false}
          />
        </span>
      </h4>
      <div>
        NodeJS의 child_process를 rxjs의 operator로 사용할 수 있게 해 주는 패키지
      </div>
    </div>
  </li>
  <li>
    <div class="icon">
      <SVG src={import('../images/react.svg?raw')} width={56} height={56} />
    </div>
    <div class="desc">
      <h4>
        <a
          href="https://github.com/johnny-mh/blog2/tree/main/libs/react-use-fusejs"
          target="_blank"
          rel="noopener noreferrer"
        >
          react-use-fusejs
        </a>
      </h4>
      <div>
        <a href="https://fusejs.io/" target="_blank" rel="noopener noreferrer">
          Fuse.js
        </a>
         를 활용하여 React에서 Fuzzy Search를 구현한 Hook
      </div>
    </div>
  </li>
  <li>
    <div class="icon">
      <SVG src={import('../images/gatsby.svg?raw')} width={56} height={56} />
    </div>
    <div class="desc">
      <h4>
        <a
          href="https://github.com/johnny-mh/blog2/tree/main/libs/gatsby-plugin-fusejs"
          target="_blank"
          rel="noopener noreferrer"
        >
          gatsby-plugin-fusejs
        </a>
      </h4>
      <div>
        gatsby 데이터 노드를{' '}
        <a href="https://fusejs.io/" target="_blank" rel="noopener noreferrer">
          Fuse.js
        </a>
         의 index로 변환해주는 플러그인
      </div>
    </div>
  </li>
  <li>
    <div class="icon">
      <SVG src={import('../images/astro.svg?raw')} width={56} height={56} />
    </div>
    <div class="desc">
      <h4>
        <a
          href="https://www.npmjs.com/package/astro-fuse"
          target="_blank"
          rel="noopener noreferrer"
        >
          astro-fuse
        </a>
      </h4>
      <div>
        astro 사이트에 <a
          href="https://fusejs.io/"
          target="_blank"
          rel="noopener noreferrer">Fuse.js</a
        > 기반 검색 기능을 추가할 수 있는 플러그인
      </div>
    </div>
  </li>
</ul>

<style lang="scss">
  @use '../styles/mixins' as *;

  .opensources {
    margin: 0;
    padding: 0;

    li {
      display: flex;
      position: relative;
      margin-bottom: 30px;

      h4 {
        margin-bottom: 0.5rem;
        padding: 0;

        a {
          @include link;

          &:before {
            content: '';
            position: absolute;
            inset: 0;
          }
        }
      }

      .desc {
        margin-left: 21px;
      }

      .badges {
        display: inline-flex;
        gap: 8px;
        align-items: center;
      }
    }
  }
</style>
