---
import SVG from '@jasikpark/astro-svg-loader'

export interface Props {
  next: null | string
  prev: null | string
}

const { next, prev } = Astro.props
---

<ul class="pager">
  <li class="newer">
    {
      prev ? (
        <a href={prev}>
          <SVG height={21} src={import('../images/left.svg?raw')} width={21} />
          Newer
        </a>
      ) : (
        <span>
          <SVG height={21} src={import('../images/left.svg?raw')} width={21} />
          Newer
        </span>
      )
    }
  </li>
  <li class="older">
    {
      next ? (
        <a href={next}>
          Older
          <SVG height={21} src={import('../images/right.svg?raw')} width={21} />
        </a>
      ) : (
        <span>
          Older
          <SVG height={21} src={import('../images/right.svg?raw')} width={21} />
        </span>
      )
    }
  </li>
</ul>

<style lang="scss">
  @use '../styles/mixins' as *;

  .pager {
    height: 56px;
    margin-bottom: 30px;
    text-align: center;

    gap: 20px;
    display: flex;
    justify-content: center;

    li {
      height: 56px;
      line-height: 56px;
      white-space: nowrap;

      svg {
        width: 21px;
        height: 21px;
        margin-top: -3px;
        vertical-align: middle;
      }

      a {
        @include link;
      }

      span {
        cursor: not-allowed;
        color: #888;

        svg {
          fill: #888;
        }
      }
    }
  }
</style>
