---
import type { CollectionEntry } from 'astro:content'

import { dayjs } from '#/dayjs'
import { render } from 'astro:content'

import BorderedImage from './BorderedImage.astro'

interface Props {
  hero?: boolean
  post: CollectionEntry<'post'>
}

const { hero, post } = Astro.props
const { data } = post

const { remarkPluginFrontmatter } = await render(post)
---

<div
  class="group relative flex flex-col gap-4 md:flex-row"
  class:list={[hero ? 'gap-4' : '']}
>
  {
    data.cover ? (
      <div
        class="flex-none"
        class:list={[hero ? 'md:w-64' : 'md:w-48']}
        transition:name={`post-image-${post.id}`}
      >
        <BorderedImage
          class="aspect-4/3"
          glowProps={
            hero
              ? {
                  blur: '20px',
                  colors: remarkPluginFrontmatter.coverColors,
                }
              : undefined
          }
          imageProps={{
            alt: data.coverAlt ?? data.title,
            fetchpriority: 'high',
            format: 'webp',
            loading: 'eager',
            src: data.cover,
            style: { objectFit: 'cover' },
            width: 1080,
          }}
        />
      </div>
    ) : null
  }
  <div class="flex-auto px-1 md:flex md:flex-col md:justify-center">
    <a
      class="after:absolute after:inset-0 md:underline-offset-4 after:md:hidden md:hover:underline"
      href={`/blog/${post.id}`}
      ><span
        class="text-balance font-semibold transition-all"
        class:list={[hero ? 'text-2xl' : 'text-lg']}>{post.data.title}</span
      ></a
    >
    <div class="mb-2 flex gap-1 md:mb-4">
      <time class="font-sg text-th-text-secondary"
        >{dayjs(post.data.publishedAt).format('YYYY-MM-DD')}</time
      >
    </div>
    <div class="text-th-text-secondary">
      {remarkPluginFrontmatter.summary}...
    </div>
  </div>
</div>
