---
import {Image} from 'astro:assets'

import profileImage from '#/images/profile.webp'
---

<section>
  <div class="profile">
    <Image
      src={profileImage}
      alt="johnny profile image"
      width={256}
      height={256}
    />
  </div>
  <div class="description">
    <h1>안녕하세요! FE개발자 김민형입니다</h1>
    <div class="tags">
      {
        ['JavaScript', 'Angular', 'React', 'NodeJS'].map((str) => (
          <span>{str}</span>
        ))
      }
    </div>
    <div class="mail">
      <a href="mailto:romz1212@gmail.com">romz1212@gmail.com</a>
    </div>
  </div>
</section>

<style lang="scss">
  @use '../styles/variables' as *;
  @use '../styles/mixins' as *;

  section {
    display: flex;
    justify-content: left;
    margin-bottom: 3rem;
  }

  .profile {
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 8.75rem;
    height: 8.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    img {
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
    }
  }

  .description {
    padding: 1rem 0;
    margin-left: 1rem;
    line-height: 2rem;

    h1 {
      margin-bottom: 1rem;
      word-break: keep-all;
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin-left: 0.5rem;
      margin-bottom: 1rem;

      span {
        line-height: 1.5rem;
        border-radius: 1.5rem;
        color: $theme-light-text;
        background-color: $theme-light-text-bg;
        padding: 0.1rem 1rem;

        @include dark {
          color: $theme-dark-text;
          background-color: $theme-dark-text-bg;
        }
      }
    }

    .mail {
      margin-left: 0.5rem;
      line-height: 1rem;

      a {
        @include link;
      }
    }
  }

  @include mobile {
    section {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .tags {
      margin-left: 0;
      justify-content: center;
      font-size: 0.9rem;
    }

    .description {
      margin: 1rem 0;
      padding: 0;
    }
  }
</style>
