---
import profileImage from '#/assets/profile.png'
import Glow from '#/components/Glow.astro'
import { Icon } from 'astro-icon/components'
import Image from 'astro/components/Image.astro'
---

<div class="flex flex-col gap-8 md:flex-row">
  <div
    class="relative z-10 aspect-square w-full flex-none drop-shadow-xl dark:drop-shadow-none md:w-52"
  >
    <Glow
      blur={'20px'}
      colors={['#eeeefd', '#57d5fc']}
      duration="2s"
      opacity={0.5}
    />
    <Image
      alt="JOHNNY DEV"
      class="absolute inset-0 rounded-3xl"
      sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${profileImage.width}px`}
      src={profileImage}
      widths={[240, 540, 720, profileImage.width]}
    />
  </div>
  <div class="flex flex-col justify-center gap-3 px-1 md:px-0">
    <h1 class="text-2xl font-semibold tracking-tight md:text-3xl">
      안녕하세요!<br />
      프론트엔드 개발자 김민형 입니다.
    </h1>
    <p class="text-lg tracking-tight text-th-text-secondary">
      커머스, 클라우드 플랫폼 등 여러 도메인에서<br />
      JavaScript 라이브러리, 엔터프라이즈 레벨 웹 앱들을 개발해왔습니다.<br />
      기업의 목표에 빠르게 부합하고. 유연하고 안정적인 결과 만들기 위해 달리고 있습니다.
    </p>
    <div class="flex gap-4 font-sg text-sm">
      <a class="flex items-center gap-1" href="mailto:romz1212@gmail.com">
        <Icon name="octicon:mail-24" />
        romz1212@gmail.com
      </a>
    </div>
  </div>
</div>
