---
import { Search } from './Search'

export interface Props {
  tags: Set<string>
}

const { tags } = Astro.props
---

<div id="search-wrapper">
  <Search client:visible tags={tags} transition:persist />
</div>

<style lang="scss">
  #search-wrapper {
    display: none;
  }
</style>

<script>
  import { appAtom } from '#/stores/app'

  function bindEvents() {
    appAtom.listen(({ showSearch }) => {
      document.body.style.overflow = showSearch ? 'hidden' : 'auto'

      const wrapper = document.querySelector<HTMLDivElement>('#search-wrapper')

      if (!wrapper) {
        return
      }

      wrapper.style.display = showSearch ? 'block' : 'none'
    })
  }

  bindEvents()
</script>
