---
import { getPosts } from '#/collection'
import { shuffle } from '#/util/common'

import { SearchComponent } from './SearchComponent'

const posts = await getPosts()

const tags = shuffle<string>(
  posts.map((post) => post.rendered.remarkPluginFrontmatter?.tags ?? []).flat()
).slice(0, 5)
---

<div id="search-wrapper" style="display:none">
  <SearchComponent client:visible transition:persist tags={tags} />
</div>

<script>
  import { appAtom } from '#/stores/app'

  function bindEvents() {
    appAtom.listen(({ showSearch }) => {
      document.body.style.overflow = showSearch ? 'hidden' : 'auto'

      const wrapper = document.querySelector<HTMLDivElement>('#search-wrapper')

      if (!wrapper) {
        return
      }

      wrapper.style.display = showSearch ? 'block' : 'none'
    })
  }

  bindEvents()
</script>
