---
import profileImage from '#/assets/profile.png'
import Experience from '#/components/Experience.astro'
import Profile from '#/components/Profile.astro'
import ProjectList from '#/components/ProjectList.astro'
import Wrapper from '#/components/Wrapper.astro'
import { ASTRO_FUSE_DOWNLOAD, RXJS_SHELL_DOWNLOAD } from '#/consts'
import { getImage } from 'astro:assets'

const img = await getImage({ format: 'webp', src: profileImage, width: 750 })
---

<Wrapper
  preloads={[
    { _as: 'image', href: ASTRO_FUSE_DOWNLOAD },
    { _as: 'image', href: RXJS_SHELL_DOWNLOAD },
    { _as: 'image', href: img.src },
  ]}
>
  <div class="text-th-text">
    <section class="mb-24 mt-12">
      <Profile />
    </section>

    <section class="mb-24 mt-12">
      <ProjectList />
    </section>

    <section class="relative mb-24 mt-12">
      <Experience />
    </section>
  </div>
</Wrapper>
