---
import Layout from '#/layouts/Layout.astro'
import Profile from '#/components/Profile.astro'
import RecentPosts from '#/components/RecentPosts.astro'
import Opensource from '#/components/Opensource.astro'
---

<Layout title="Welcome to Astro.">
  <main>
    <Profile />
    <RecentPosts />
    <Opensource />
  </main>
</Layout>

<style></style>
